@import url('https://fonts.googleapis.com/css?family=Montserrat');
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}

html {
  scroll-behavior: smooth;
}

#intro {
  background-color: #111;
}

#webDev, #fashion{
  background-color: rgba(245, 245, 245, 0.7)
}

.title {
  font-family: "Montserrat" !important;
  font-weight: bold;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  letter-spacing: 1px;
  padding-top: 3em;
}

.title h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .title h1 {
    font-size: 80px;
  }
}

h2 {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 2.5em;
}

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

body {
    background-color: white;
    font-family: "Montserrat";
    letter-spacing: 0.1em;
    /* hide menu overflow */
    overflow-x: hidden;
  }

h1,h2,h3 {
    color: black;
}

li > a {
    text-decoration: none !important;
    z-index: 1;
  }

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #e22b94;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
li > a:hover:before,
li > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  } 

.icon c span:hover {
    color: #e22b94 !important;
  }  

h4 {
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px; 
}

h4 a:hover {
    color: #e22b94;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.bio {
  max-width: 800px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em; 
  line-height: 1.5em;
}
@media screen and (max-width: 600px) {
  .bio {
    padding: 2.5em;
  }
}

@media screen and (max-width: 600px) {
  .gif {
    display: none;
  }
}


footer { 
    font-size: 15px;   
    margin-bottom: 30px;
    color: black;
}

#front-end-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
  }

#design-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
  }  
  .one-tile {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  @media screen and (min-width: 500px) {
    .one-tile {
      width: 60%;
    }
  }
  
  .one-tile:hover .img-design-portfolio {
    transform: scale(1.1);
    filter: brightness(30%);
  }
  
  .img-design-portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 100%;
    height: auto;
    transform: scale(1.01); 
    transition: all 300ms ease-out;
  }
  
  .one-tile:hover h3 {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out 0ms;
  }
  
  .one-tile:hover p {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out 200ms;
  }
  
  figcaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15%;
    padding-right: 15%;
  }
  
  figcaption h3 {
    padding-bottom: 0.5em;
    transform: translateY(50%);
    color: #ffffff;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    transition: all 100ms ease-out 0ms;
  }
  
  figcaption p {
    transform: translateY(50%);
    color: #ffffff;
    font-size: 1.8em;
    text-transform: uppercase;
    opacity: 0;
    transition: all 100ms ease-out 0ms;
  }
 
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
    border: none;
}

.navbar-toggler span {
   display: block;
   background-color: rgb(253, 252, 252) !important;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(255,255,255, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top i {
    color: #111;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background: #111;
  }
  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }

  .typewriter h3 {
    color: #fff;
    font-family: "Montserrat";
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #e22b94; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f4b2c7 }
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
  width: 25vw;
}


@media screen and (max-width: 600px) {
  .container {
    width: 70vw;
  }
}

.accordion {
  background-color: transparent;
  overflow: hidden;
}
.accordion.active .accordion__intro::before {
  transform: rotate(90deg);
}
.accordion.active .accordion__intro::after {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion.active .accordion__content {
  padding-bottom: 20px;
}
.accordion__intro {
  padding: 20px 40px;
  cursor: pointer;
  position: relative;
}
.accordion__intro h4 {
  color:#0f0f0f;
  margin: 0;
}
.accordion__intro p {
  color: #0f0f0f;
  font-size: 15px;
}
.accordion__intro::before, .accordion__intro::after {
  content: '';
  position: absolute;
  left: 15%;
  top: 20px;
  height: 18px;
  width: 3px;
  transition: .2s ease-out;
  background-color: #f4b2c7;
}
.accordion__intro::after {
  transform: rotate(-90deg);
}
.accordion__content {
  padding: 0 40px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: max-height .2s ease-out;
  color: #0f0f0f;;
  line-height: 2em;
}

.accordion__content ul {
  list-style-type: none
}
