
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}

#intro {
  background-color: #111;
}

/* #web-dev{
  background-color: rgba(245, 245, 245, 0.856)
} */

.title {
  font-family: "Montserrat" !important;
  font-weight: bold;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  letter-spacing: 1px;
  padding-top: 3em;
}

.title h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .title h1 {
    font-size: 80px;
  }
}

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

/* END OF INTRO */

body {
    background-color: white;
    font-family: "Montserrat";
    letter-spacing: 0.1em;
    /* hide menu overflow */
    overflow-x: hidden;
  }

h1,h2,h3 {
    color: black;
}

li > a {
    text-decoration: none !important;
    z-index: 1;
  }

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #f537cc;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
li > a:hover:before,
li > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  } 

.icon c span:hover {
    color: #f537cc !important;
  }  

h4 {
    font-family: "Montserrat";
    text-align: center;
    color: turquoise;
    font-size: 18px; 
}

h4 a {
    color: turquoise;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

h6 {
  padding-left: 3em;
  padding-right: 3em;
}

footer { 
    font-size: 15px;   
    margin-bottom: 30px;
    color: black;
}

#front-end-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
  }

#back-end-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
  }  
  .one-tile {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  @media screen and (min-width: 500px) {
    .one-tile {
    width: 60%;
    }
  }
  
  .one-tile:hover .img-back-end-portfolio {
    transform: scale(1.1);
    filter: brightness(30%);
  }
  
  .img-back-end-portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    transform: scale(1.01); 
    transition: all 300ms ease-out;
  }
  
  .one-tile:hover h3 {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out 0ms;
  }
  
  .one-tile:hover p {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out 200ms;
  }
  
  figcaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15%;
    padding-right: 15%;
  }
  
  figcaption h3 {
    padding-bottom: 0.5em;
    transform: translateY(50%);
    color: #ffffff;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    transition: all 100ms ease-out 0ms;
  }
  
  figcaption p {
    transform: translateY(50%);
    color: #ffffff;
    font-size: 1.8em;
    text-transform: uppercase;
    opacity: 0;
    transition: all 100ms ease-out 0ms;
  }
 
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
    border: none;
}

.navbar-toggler span {
   display: block;
   background-color: rgb(253, 252, 252) !important;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #f537cc;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top i {
    color: #111;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background: #111;
  }
  #return-to-top:hover i {
    color: #f537cc;
    top: 5px;
  }

  /* TYPEWRITER */
  .typewriter h3 {
    color: #fff;
    font-family: "Montserrat";
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f537cc; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f537cc }
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}