@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  src: local('Vibur'), url(http://themes.googleusercontent.com/static/fonts/vibur/v4/mMNc4QI0HbuWMFrrJRZtag.ttf) format('truetype');
}

html, body{
  height: 100%
}

body {
  background: linear-gradient(to top, #a0f7ea 0%, #f2a9e1 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
 }

.logo {
  text-align: center;
  width: 65%;
  height: 450px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b{
  font: 100 15vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em  #FFDD1B, 0 0 0.5em #ff1adc, 0 0 0.1em  #FFDD1B, 0 10px 3px;
}

.logo b span{
  animation: blink linear infinite 2s;
}

h2{
  font: 100 7vh "Vibur";
  color: #fee;
  margin-bottom: 50px;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em  #FFDD1B, 0 0 0.5em #ff1adc, 0 0 0.1em  #FFDD1B, 0 10px 3px;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #f2a9e1;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #f2a9e1;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #f2a9e1;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.btn {
  margin: auto;
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  border-radius: 120px;
  font: inherit;
  letter-spacing: inherit;
  margin: 1em;
  padding: 1em 2em;
  text-transform: inherit;
  transition: color 1s;
  font: 50 5vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em  #FFDD1B, 0 0 0.5em #ff1adc, 0 0 0.1em;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em  #FFDD1B, 0 0 0.5em #ff1adc, 0 0 0.1em;
}

.btn-6:hover {
  -webkit-animation: pulse 1s ease-in infinite;
          animation: pulse 1s ease-in infinite;
  background: radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, transparent 50%) 0 0/1em 1em, radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, transparent 50%) 0.5em 0.5em/2em 2em;
  color: #0bdcb7;
}

@-webkit-keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

/*  HOME NAVBAR  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(	239,	151,	219, 0.3);
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 375px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
nav ul li {
  display: none;
}
@media all and (min-width: 375px) {
  nav ul li {
    display: block;
  }
}
nav ul a {
  font: inherit;
  letter-spacing: inherit;
  margin: 1em;
  padding: 2em 2em;
  text-transform: inherit;
  transition: color 1s;
  font: 30 5vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em  #FFDD1B, 0 0 0.5em #ff1adc, 0 0 0.1em;
}
nav ul a:hover {
  -webkit-animation: pulse 1s ease-in infinite;
          animation: pulse 1s ease-in infinite;
  color: #0bdcb7;
}
@media all and (min-width: 375px) {
  nav ul a {
    padding: 10px;
  }
 
}

/*  PORTFOLIO  */
body {
  font-family: 'Raleway', Arial, sans-serif;
  letter-spacing: 0.1em;
  /* hide menu overflow */
  overflow-x: hidden;
}

/*  MAIN  */
main {
  transition: all 0.4s ease-out;
}

.dark {
  filter: brightness(50%);
  background: #eee;
}


/*  MY WORK  */
article {
  display: flex;
  flex-direction: column;
}

/* ======== MY WORK: FRONT-END ======== */
#front-end-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
}

.img-front-end-portfolio {
  margin-bottom: 5em;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .img-front-end-portfolio {
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .img-front-end-portfolio {
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .img-front-end-portfolio {
    width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .img-front-end-portfolio {
    width: 60%;
    height: auto;
  }
}


/* ======== MY WORK: BACK-END ======== */
#back-end-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
}

.one-tile {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .one-tile {
  width: 50%;
  }
}

.one-tile:hover .img-back-end-portfolio {
  transform: scale(1.1);
  filter: brightness(30%);
}

.img-back-end-portfolio {
  /* Prevent white space under image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  /* Prevent background from showing up on edges when */
  /* hovering between images */
  transform: scale(1.01); 
  transition: all 300ms ease-out;
}

.one-tile:hover h3 {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-out 0ms;
}

.one-tile:hover p {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-out 200ms;
}

figcaption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 15%;
  padding-right: 15%;
}

figcaption h3 {
  padding-bottom: 0.5em;
  transform: translateY(50%);
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: all 100ms ease-out 0ms;
}

figcaption p {
  transform: translateY(50%);
  color: #ffffff;
  font-size: 1.8em;
  text-transform: uppercase;
  opacity: 0;
  transition: all 100ms ease-out 0ms;
}

/* ======== Back to top button ======== */
#back-to-top {
	display: block;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 10px;
	bottom: 10px;
	background: #bfbfbf url('http://www.mapaplan.com/external-assets/fcc-portfolio/img/up-arrow.png') no-repeat center 43%;
  opacity: 0;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
  transition: opacity 1.55s ease;
  cursor: pointer;
}
#back-to-top:hover {
	background: #707070 url('http://www.mapaplan.com/external-assets/fcc-portfolio/img/up-arrow.png') no-repeat center 43%;
}
