body {
    background-color: floralwhite;
}

h2 {
    color: #2a2f66;
    font-size: 45px;
}

li {
    list-style: none;
}

.container {
    margin-top: 20px;
}

.book{
    height: 400px;
    width: 250px;
    position: relative;
    margin: 10px auto;
    margin-top: 40px;
    z-index: 1;
    perspective: 1000;
}

.book img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 10px;
}

#books{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.book:hover .f1_card {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 15px;
  color: #35375d;
  font-style: bold;    
  word-wrap: break-word;
    

 background:
linear-gradient(
    limegreen,
    transparent
),
linear-gradient(
    90deg,
    skyblue,
    transparent
),
linear-gradient(
    -90deg,
    coral,
    transparent
);

background-blend-mode: screen;deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}